<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
            <h2>About <em>Us</em></h2>
            <img src="assets/images/line-dec.png" alt="">
            <p>Placewel provides Latest Jobs updates All Over India. Latest Government jobs and Private jobs information to Job Seekers. Jobvision will try to reach all your career needs as soon as possible

                we provide job information based on information from different jobs website. Although we take extreme care for accuracy of the information provided, but you must check the authenticity of the employer website before applying for the job as well as re check eligibility criteria listed on employer website or advertisement. We are not responsible for your operation , once you leave our website and apply thereafter. Please recheck the genuineness of the all job opening from your end.</p>
        </div>
    </div>
</div>

